---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Clam's Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>This site is under construction. 
        When it's done, you will find some think peices relating 
    to personal finance, careers, and other things</h2>
</BaseLayout>
  